<div class="container mt-5">


  <!-- First Row -->

  <div class="row">

    <!-- First -->
    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/2.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">ကွန်ဒို Facilities အပြည့်ပေးမယ့် မင်္ဂလာဒုံမြို့နယ်က အသင့်နေ စွယ်တော်စီးတီးကွန်ဒို
          </h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး မင်္ဂလာဒုံ မြို့နယ်ရှိ ရောင်းရန်ရှိသော ကွန်ဒို</p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>2
              <i class="bi bi-hdd ms-2"></i>3
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>Highway Road(Gate way of Yangon) , Mingalardon
              Township</small></p>
        </div>
      </div>

    </div>




    <!-- Second -->
    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/3.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">လှိုင်မြို့နယ် MICT Park အနီးရှိ ဘဏ်ချိတ်ရ အရည်အသွေးမြင့်
            ပြည့်စုံချမ်းသာ(၃)ကွန်ဒိုအခန်းများရောင်းမည် </h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး လှိုင် မြို့နယ်ရှိ ရောင်းရန်ရှိသော Pyae Sone Chan Thar
            Condo 3 ကွန်ဒို </p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>3
              <i class="bi bi-hdd ms-2"></i>2
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>Mahar Swe St, 13rd Ward, Hlaing Tsp, Ygn.</small></p>
        </div>
      </div>

    </div>


    <!-- Third -->

    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/4.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">မြောက်ဥက္ကလာ VIP ရပ်ကွက်ဖြစ်တဲ့ ရွှေဝတ်မှုန်ရိပ်သာထဲက အဆင့်မြင့် ( ၃ ) ထပ်လုံးချင်းအိမ်ရာများ </h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး မြောက်ဥက္ကလာ မြို့နယ်ရှိ ရောင်းရန်ရှိသော Shwe Wut Hmone Residence လုံးချင်းအိမ် </p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>3
              <i class="bi bi-hdd ms-2"></i>2
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>ရွှေဝတ်မှုန်အိမ်ရာ သုနန္ဒာလမ်း ၊ ည+ဋ (တိုးချဲ့) ရပ်ကွက်၊ မြောက်ဥက္ကလာပမြို့နယ်</small></p>
        </div>
      </div>

    </div>

    <!-- Fourth -->

    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/5.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">ရန်ကုန်မြို့လယ်ခေါင်မှာ အသစ်စက်စက် အခန်းကျယ်ရှာဖွေနေသူများအတွက် Gandamar Condo (ဗိုလ်တစ်ထောင်)</h5>
          <p class="card-text description"> ရန်ကုန်တိုင်းဒေသကြီး ဗိုလ်တထောင် မြို့နယ်ရှိ ရောင်းရန်ရှိသော Gandamar Condo ကွန်ဒို</p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>3
              <i class="bi bi-hdd ms-2"></i>2
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>ဗိုလ်တစ်ထောင်လမ်းသွယ် (၁)၊ ဗိုလ်တထောင်မြို့နယ်</small></p>
        </div>
      </div>

    </div>

  </div>


  <!-- Second Row -->

  <div class="row">

    <!-- First -->
    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/2.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">ကွန်ဒို Facilities အပြည့်ပေးမယ့် မင်္ဂလာဒုံမြို့နယ်က အသင့်နေ စွယ်တော်စီးတီးကွန်ဒို
          </h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး မင်္ဂလာဒုံ မြို့နယ်ရှိ ရောင်းရန်ရှိသော ကွန်ဒို</p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>2
              <i class="bi bi-hdd ms-2"></i>3
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>Highway Road(Gate way of Yangon) , Mingalardon
              Township</small></p>
        </div>
      </div>

    </div>




    <!-- Second -->
    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/3.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">လှိုင်မြို့နယ် MICT Park အနီးရှိ ဘဏ်ချိတ်ရ အရည်အသွေးမြင့်
            ပြည့်စုံချမ်းသာ(၃)ကွန်ဒိုအခန်းများရောင်းမည် </h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး လှိုင် မြို့နယ်ရှိ ရောင်းရန်ရှိသော Pyae Sone Chan Thar
            Condo 3 ကွန်ဒို </p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>3
              <i class="bi bi-hdd ms-2"></i>2
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>Mahar Swe St, 13rd Ward, Hlaing Tsp, Ygn.</small></p>
        </div>
      </div>

    </div>


    <!-- Third -->

    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/4.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">မြောက်ဥက္ကလာ VIP ရပ်ကွက်ဖြစ်တဲ့ ရွှေဝတ်မှုန်ရိပ်သာထဲက အဆင့်မြင့် ( ၃ ) ထပ်လုံးချင်းအိမ်ရာများ </h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး မြောက်ဥက္ကလာ မြို့နယ်ရှိ ရောင်းရန်ရှိသော Shwe Wut Hmone Residence လုံးချင်းအိမ် </p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>3
              <i class="bi bi-hdd ms-2"></i>2
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>ရွှေဝတ်မှုန်အိမ်ရာ သုနန္ဒာလမ်း ၊ ည+ဋ (တိုးချဲ့) ရပ်ကွက်၊ မြောက်ဥက္ကလာပမြို့နယ်</small></p>
        </div>
      </div>

    </div>

    <!-- Fourth -->

    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/5.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">ရန်ကုန်မြို့လယ်ခေါင်မှာ အသစ်စက်စက် အခန်းကျယ်ရှာဖွေနေသူများအတွက် Gandamar Condo (ဗိုလ်တစ်ထောင်)</h5>
          <p class="card-text description"> ရန်ကုန်တိုင်းဒေသကြီး ဗိုလ်တထောင် မြို့နယ်ရှိ ရောင်းရန်ရှိသော Gandamar Condo ကွန်ဒို</p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>3
              <i class="bi bi-hdd ms-2"></i>2
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>ဗိုလ်တစ်ထောင်လမ်းသွယ် (၁)၊ ဗိုလ်တထောင်မြို့နယ်</small></p>
        </div>
      </div>

    </div>

  </div>



  <!-- 3rd Row -->

  <div class="row">

    <!-- First -->
    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/2.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">ကွန်ဒို Facilities အပြည့်ပေးမယ့် မင်္ဂလာဒုံမြို့နယ်က အသင့်နေ စွယ်တော်စီးတီးကွန်ဒို
          </h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး မင်္ဂလာဒုံ မြို့နယ်ရှိ ရောင်းရန်ရှိသော ကွန်ဒို</p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>2
              <i class="bi bi-hdd ms-2"></i>3
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>Highway Road(Gate way of Yangon) , Mingalardon
              Township</small></p>
        </div>
      </div>

    </div>




    <!-- Second -->
    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/3.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">လှိုင်မြို့နယ် MICT Park အနီးရှိ ဘဏ်ချိတ်ရ အရည်အသွေးမြင့်
            ပြည့်စုံချမ်းသာ(၃)ကွန်ဒိုအခန်းများရောင်းမည် </h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး လှိုင် မြို့နယ်ရှိ ရောင်းရန်ရှိသော Pyae Sone Chan Thar
            Condo 3 ကွန်ဒို </p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>3
              <i class="bi bi-hdd ms-2"></i>2
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>Mahar Swe St, 13rd Ward, Hlaing Tsp, Ygn.</small></p>
        </div>
      </div>

    </div>


    <!-- Third -->

    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/4.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">မြောက်ဥက္ကလာ VIP ရပ်ကွက်ဖြစ်တဲ့ ရွှေဝတ်မှုန်ရိပ်သာထဲက အဆင့်မြင့် ( ၃ ) ထပ်လုံးချင်းအိမ်ရာများ </h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး မြောက်ဥက္ကလာ မြို့နယ်ရှိ ရောင်းရန်ရှိသော Shwe Wut Hmone Residence လုံးချင်းအိမ် </p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>3
              <i class="bi bi-hdd ms-2"></i>2
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>ရွှေဝတ်မှုန်အိမ်ရာ သုနန္ဒာလမ်း ၊ ည+ဋ (တိုးချဲ့) ရပ်ကွက်၊ မြောက်ဥက္ကလာပမြို့နယ်</small></p>
        </div>
      </div>

    </div>

    <!-- Fourth -->

    <div class="col-md-3">

      <div class="card mb-3 card-fixed-height">
        <img src="../../assets/images/5.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">စျေးနှုန်းမေးရန် ဆက်သွယ်ပါ</h6>
          <h5 class="card-title">ရန်ကုန်မြို့လယ်ခေါင်မှာ အသစ်စက်စက် အခန်းကျယ်ရှာဖွေနေသူများအတွက် Gandamar Condo (ဗိုလ်တစ်ထောင်)</h5>
          <p class="card-text description"> ရန်ကုန်တိုင်းဒေသကြီး ဗိုလ်တထောင် မြို့နယ်ရှိ ရောင်းရန်ရှိသော Gandamar Condo ကွန်ဒို</p>
          <div class="d-flex justify-content-between">
            <div>
              <i class="bi bi-inbox-fill"></i>3
              <i class="bi bi-hdd ms-2"></i>2
            </div>


            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">For Sale</span>
            </div>
          </div>
          <p class="card-text text-muted mt-2 address"><small>ဗိုလ်တစ်ထောင်လမ်းသွယ် (၁)၊ ဗိုလ်တထောင်မြို့နယ်</small></p>
        </div>
      </div>

    </div>

  </div>



</div>
