<div class="login-container">
  <h2>အကောင့်ထဲဝင်ရန်</h2>
  <form class="text-center">

    <div class="input-group">
      <label for="email">Email လိပ်စာ</label>
      <input type="email" class="form-control" id="email" placeholder="Email လိပ်စာ ထည့်ရန်">

    </div>

    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password ထည့်ရန်" required>
    </div>
    <button type="submit">အကောင့်ထဲဝင်မယ်</button>
  </form>
</div>
