.body {
  position: relative;
  width: 100%;
  height: 400%; /* Set the desired height */
  margin: 50px auto;
  padding: 20px;
  background-image : url('../assets/images/8.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px solid;
  border-radius: 0.5rem;
}


.header {
  width: 100%;
  height: fit-content; /* Set the desired height */
  background-image : url('../assets/images/7.jpg');
  background-position: center;
  background-size: cover;
  border: 2px solid;
  border-radius: 0.5rem;
}

.foot{
  background-image : url('../assets/images/7.jpg');
  background-position: center;
  background-size: cover;
}


.whole{
  background-color: black;
}

