<div class="container">
  <div class="row">


    <!-- First -->
    <div class="col-4">
      <div class="card mb-3 card-fixed-height">
        <img src="../../../assets/images/5.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h5 class="card-price">5,000 သိန်း</h5>
          <h5 class="card-title">လုံးချင်းအိမ် - မြောက်ဒဂုံမြို့နယ် (40)ရပ်ကွက်ရှိ ​1ထပ်RC လုံးချင်း အရောင်း</h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး ဒဂုံမြို့သစ်မြောက်ပိုင်း ရောင်းရန်ရှိသော အဆင့်မြင့်လုံးချင်းအိမ်</p>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <i class="bi bi-inbox-fill"></i>2
              <i class="bi bi-hdd ms-2"></i>3
            </div>
            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">ကွန်ဒို</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Second -->
    <div class="col-4">
      <div class="card mb-3 card-fixed-height">
        <img src="../../../assets/images/6.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h5 class="card-price">5,000 သိန်း</h5>
          <h5 class="card-title">လုံးချင်းအိမ် - မြောက်ဒဂုံမြို့နယ် (40)ရပ်ကွက်ရှိ ​1ထပ်RC လုံးချင်း အရောင်း</h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး ဒဂုံမြို့သစ်မြောက်ပိုင်း ရောင်းရန်ရှိသော အဆင့်မြင့်လုံးချင်းအိမ်</p>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <i class="bi bi-inbox-fill"></i>2
              <i class="bi bi-hdd ms-2"></i>3
            </div>
            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">ကွန်ဒို</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Third -->
    <div class="col-4">
      <div class="card mb-3 card-fixed-height">
        <img src="../../../assets/images/9.avif" class="card-img-top" alt="Property Image">
        <div class="card-body">
          <h5 class="card-price">5,000 သိန်း</h5>
          <h5 class="card-title">လုံးချင်းအိမ် - မြောက်ဒဂုံမြို့နယ် (40)ရပ်ကွက်ရှိ ​1ထပ်RC လုံးချင်း အရောင်း</h5>
          <p class="card-text description">ရန်ကုန်တိုင်းဒေသကြီး ဒဂုံမြို့သစ်မြောက်ပိုင်း ရောင်းရန်ရှိသော အဆင့်မြင့်လုံးချင်းအိမ်</p>
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <i class="bi bi-inbox-fill"></i>2
              <i class="bi bi-hdd ms-2"></i>3
            </div>
            <div class="text-right">
              <i class="bi bi-houses-fill"></i><span class="badge badge-danger">ကွန်ဒို</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
