
<div class="login-container">
  <h2>ပိုင်ရှင် အကောင့်သစ်လုပ်ရန်</h2>
  <form class="text-center">
    <div class="input-group">
      <label for="username">နာမည်</label>
      <input type="text" id="username" name="username" placeholder="နာမည် ထည့်ရန်" required>
    </div>

    <div class="input-group">
      <label for="phone">ဖုန်းနံပါတ်</label>
      <input type="phone" class="form-control" id="phone" placeholder="ဖုန်းနံပါတ် ထည့်ရန်">

    </div>
    <div class="input-group">
      <label for="email">Email လိပ်စာ</label>
      <input type="email" class="form-control" id="email" placeholder="Email လိပ်စာ ထည့်ရန်">

    </div>


    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Password ထည့်ရန်" required>
    </div>

    <div class="input-group">
      <label for="password">Check Password</label>
      <input type="password" id="password" name="password" placeholder="Password ပြန်ထည့်ရန်" required>
    </div>


    <button type="submit">အကောင့်သစ်လုပ်မယ်</button>
  </form>
</div>



